.account-login {
    display: flex;
    gap: 20px;
    padding-top: 160px;
    padding-bottom: 160px;

    .container-login-form {
        background: #0e5c7b;
        border-radius: 20px !important;
        width: 50% !important;
        border: none !important;
        border-right: 1px solid white !important;
        padding-left: 0 !important;

        h2 {
            color: #d2f0e5;
            text-align: center;
            margin-top: 40px;
            font-size: 2rem;
            font-weight: 600;
        }

        .login-form {
            border: none !important;
            padding: 20px !important;

            label{
                color: #d2f0e5;
                font-weight: 600;
            }

            .forgot-passoword {
                padding-top: 30px;
                padding-bottom: 30px;
                color: #d2f0e5 !important;
                font-weight: 600 !important;
            }

            .button-log-in {
                width: 100%;
                background: linear-gradient(to right, rgb(20 184 166), rgb(8 145 178));
                color: rgb(255 255 255) !important;
                font-weight: 500;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                border-radius: 0.5rem;
                transition-property: all;
                transition-duration: 300ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

            .button-log-in:hover {
    background: linear-gradient(to right, rgb(13 148 136), rgb(14 116 144));
    transform: scale(1.05);
}
        }
    }

    .form-register {
        width: 50% !important;
        background: #0e5c7b;
        border-radius: 20px !important;
        width: 50% !important;
        border: none !important;
        border-right: 1px solid white !important;
        padding-left: 0 !important;

        h2 {
            color: #d2f0e5;
            text-align: center;
            margin-top: 40px;
            font-size: 2rem;
            font-weight: 600;
        }
        .custom-register {
            padding: 20px !important;
            border: none !important;

            label{
                color: #d2f0e5;
                font-weight: 600;
            }
        }

        .woocommerce-password-strength {
            margin-top: 10px;
            border-radius: .25rem;
        }

        .button-register {
                width: 100%;
                background: linear-gradient(to right, rgb(20 184 166), rgb(8 145 178));
                color: rgb(255 255 255) !important;
                font-weight: 500;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                border-radius: 0.5rem;
                transition-property: all;
                transition-duration: 300ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                margin-top: 68px;

        }

                    .button-register:hover {
    background: linear-gradient(to right, rgb(13 148 136), rgb(14 116 144));
    transform: scale(1.05);
}

    }
}

.account-login .container-login-form .login-form .forgot-passoword  {
    padding: 10px 0 !important;
    margin-left: 6px !important;
}

.account-login .container-login-form .login-form .forgot-passoword a {
    color: white !important;
    font-size: 1rem !important;
}

.woocommerce-MyAccount-navigation-link--edit-address {
    display: none !important;
}

.important-notices p {
    color: #342923;
}
@media (max-width: 1024px) {
    .account-login {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
        flex-direction: column;
        .container-login-form {
            padding-right: 0px;
            border-right: none !important;
            width: 100% !important;
        }

        .form-register {
            width: 100% !important;
            padding-left: 0px;
        }
    }

            .button-register {
        
                margin-top: 20px !important;

        }
}


.woocommerce-MyAccount-navigation {
    ul {
        margin: 0;
    }
}

.form-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    height: 70vh;
    justify-content: center;
    .post-password-form p {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        font-size: 1.5rem;
        font-family: "Oswald", sans-serif;
    
    }
}

.input-text {
    width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    background-color: rgb(51 65 85) !important;
    border: 1px solid rgb(71 85 105) !important;
    border-radius: 0.5rem !important;
    color: rgb(255 255 255) !important;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke !important;
    transition-duration: 300ms !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.input-text::placeholder {
    color: rgb(156 163 175) !important;
}

.input-text:focus {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    border-color: rgb(20 184 166) !important;
    box-shadow: 0 0 0 1px rgb(20 184 166) !important;
}

.woocommerce-password-strength {
    display: none !important;
}

.woocommerce-password-hint {
    display: none !important;
}